<% if (products && products.length > 0) { %>
  <div class="row justify-content-center">
    <div class="col-sm-2 col-md-4">
      <div class="card border-0">
        <i class="bi bi-cart4 fs-1 text-center text-success"></i>
        <div class="caption text-center">
          <h3 class='m-0'>MY CART</h3>
          <p class='m-0'>P.O. BOX 00, ONLINE</p>
          <p class='m-0'>TEL. XXXXXXXXXX</p>
          <p class='m-0'>E-mail. info@mycart.com</p>
        </div>

        <table class="table table-borderless">
          <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Qty</th>
            <th scope="col">Rate</th>
            <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <% products.forEach((element, index) => { %>
              <tr>
                <td scope="row"><%= index + 1 %></td>
                <td><%= element.item.productName %></td>
                <td><%= element.qty %></td> <!-- Add your quantity logic here -->
                <td><%= formatNumber(element.item.price) %></td>
                <td><%= formatNumber(element.price) %></td>
              </tr>
            <% }) %>
            <tr>
              <td></td>
              <td><strong>Total:</strong></td>
              <td><strong><%= session.cart.totalQty %></strong></td>
              <td><strong><%= formatNumber(totalPrice) %></strong></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      <div class="text-center">
        <form method="post" action="/stk">
          <input name="transaction" class="form-control m-1" type="tel" placeholder="enter phone number " id="transaction">
          <button type="submit" class="btn btn-success">Checkout</button>
        </form>
      </div>
      </div>
    </div>
  </div>
<% } else { %>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <h2>No items in the cart!</h2>
    </div>
  </div>
<% } %>
